/* html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Blinker', sans-serif;
    width: 90%;
    max-width: 800px;
} */
body{
    margin: 0;
    min-height: 100vh;
    border-radius:9px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
     width: 90%;
    /* margin: 0 auto; */
    max-width: 800px;
    background: #111d4a;
    color: #fff;
    display: flex;
    flex-direction: column;
}


.card-img{
    flex-basis: 200px;
    object-fit: cover;
    min-height: 0;
    min-width:0;    
}
h2{
    color: #05CBE9;
    font-size: 28px;
}
p{
    color: white;
}
h2,.read-more,Time{
    font-family: 'Blinker', sans-serif;
    
}
.card-footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 3em;
    }
    
 .Time{
    opacity: 50%;
    width: 10%;
    
}

.content {
    padding: 1em;
    
}
Strong{
 font-weight: 900;   
}
.read-more{
    font-size: 1.25rem;
    background: #05cbe9;
    color: #111d4a;
    text-decoration: none;
    font-weight: 700;
    padding: .35em 1em;
    letter-spacing: 1px;
}
.Time{
    margin: 0;
    opacity: .6;
    line-height: 1;
}
.card-body{
        font-family: 'Source Sans Pro', sans-serif;
        line-height: 1.6;
}
@media (min-width:600px){
    .container{
    display: flex;
    flex-direction: row;
        
    }
    
    h2{
    color: #05CBE9;
    font-size: 36px;

    }
    .card-body{
        font-size:18px;
        max-width:500px;
    }
    .card-img{
        height: 320px;
    }
    
    .content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 285px;
}
}